<!DOCTYPE html>
<html>
	<head>
		<title>Checkout</title>
	</head>
	<body>
	
		<h1>Your Order</h1>
		
		Size: {{size}}<br>
		Quantity: {{quantity}}<br>
		Ingredient 1: {{ingredient1}}<br>
		Ingredient 2: {{ingredient2}}<br>
		Ingredient 3: {{ingredient3}}<br>
		
		
		Price: ${{ price }}0
		<br>
		<br>
		
		<a href="{% url 'success' code%}"> Submit Order </a>
		
		
		<!-- form.quantity form.size form.ingredient1  -->
		<!-- form.ingredient2 form.ingredient3 -->
		
		
	</body>
</html>